{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>my spotify dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-bar w3-green w3-container">
        <a href="/dashboard/" class="w3-bar-item w3-button">Home</a>
    </div>
    <div id="content" class="w3-container">
        <p>This webapp shows the artist you follow on spotify</p>
        <a href="{{auth_url}}"class="w3-btn w3-ripple w3-green">Allows access to spotify</a>
    </div>
</body>

</html>